.category {
    display:flex;
    flex-direction: row;
    color:rgb(185, 205, 228);
    flex-wrap: wrap;
    align-items: flex-start;
    padding-left: 20px;
}

.category-title{
    color: white;
    font-weight: bold;
    padding: 10px;
}

.category-content-list{
    margin:0;
    padding: 10px;
}
.category-content-list-item{
    margin:0;
    margin-bottom:5px;
}

.category-content-list-item .subpoint{
    margin-left: 30px;
    font-style: italic;
}

.category-content{
    margin-left:5px;
}

