.paragraph{
    width: clamp(50px, 100%, 1500px);
    padding: 0.7rem;
    color:rgb(185, 205, 228);
    margin-left: auto;
    margin-right: auto;
}

.side-panel .paragraph{
    color: white;
    text-align: center;
}

@media screen and (max-width: 960px) {
    .paragraph{
        padding: 0.5rem;
        width:100%;
    }
    
}