.title-logo-year{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    font-size: clamp(15px, 2vw, 25px);
    font-weight: bolder;
    align-items: center;
    color: #7bbfe6;
    flex-wrap: wrap;
    padding-left: 10px;
}

.left{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
}

.company-logo-image{
    width: 50px;
}