.side-panel {
    position:fixed;

  width: 30vw;
  max-width:330px;
  height: 100vh;
  background: linear-gradient(rgba(63, 149, 219, 0.5), rgba(63, 149, 219, 0.5)),
    url("./JasperTest.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  color: white;
}
.head-shot {
  border-radius: 100%;
  height: auto;
  max-width: 90%;
}

@media screen and (max-width: 960px) {
  .side-panel {
    width: 100%;
    height: fit-content;
    max-width: 100%;
    align-items: center;
    position:static;
  }

  .head-shot {
    max-width: 40%;
  }

  .side-panel .contact-platforms {
    display: none;
  }
}
