.contact-platforms{
    display: flex;
    flex-direction: column;
    width:100%;
    padding: clamp(5px, 6%, 15px);
    gap: 5%;
    color: white;
}
.contact-me-content{
    display: flex;
    flex-direction: column;
}

.contact-me-content .paragraph{
    margin: 0px;
}
.contact-platforms .contact-platform-category {
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
    height:auto;
}

.contact-platform-category-name{
    width: 100%;
}

.fab{
    color:rgb(142, 208, 235);
}

.far{
    color:rgb(142, 208, 235);
}
