
.navbar {
    background: linear-gradient(90deg, rgb(55, 71, 83) 0%, rgb(48, 137, 179) 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position:fixed;
    top:0px;
    width: 100%;

}


.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px; 
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem; 
}

.nav-links:hover{
    text-decoration: underline;
    transition: all 0.2s ease-out;
}

.fa-bars {
    color: #fff;
}

.menu-icon{
    display:none;
}

@media screen and (max-width: 960px) {
    .navbar{
        position: fixed;
    }

    .nav-menu{
        background: rgb(48, 137, 179, 0.7) ;
        display: flex;
        flex-direction: column;
        width: 45vw;
        height: 100vh;
        position: fixed;
        top: 80px;
        left: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        margin: 0px;
    }

    .nav-menu.active {
        left:55vw;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links{
        text-align: center;
        padding: 1vh;
        width: 100%;
        display: table;
    }

    .nav-links:hover{
        background-color: rgb(48, 137, 179);
        border-radius: 0;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times{
        color: #fff;
        font-size: 2rem;
    }

    Button {
        display: none;
    }
}